*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov
.env

# Editor/IDE
.idea/
.vscode/

# RDI deploy
rdi-deploy/.terraform
rdi-deploy/.terraform.*
rdi-deploy/*.tfstate
rdi-deploy/*.tfstate.backup
rdi-deploy/rdi-1.14.0.tgz
rdi-deploy/rdi-values.yaml

# Source database
source-db/pgdata
source-db/pgadmin
source-db/redis

# Target database
target-db/.terraform
target-db/.terraform.*
target-db/*.tfstate
target-db/*.tfstate.backup
